@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

* {
  font-family: 'Sora', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.logo {
  background-image: url(./components/Navbar/img/eternal.png);
  width: 100px;
  height: 100px;
}